body{
    font-family:'Special Elite',cursive;
    background:#f5d
}
.header_div{
    background: red;
    color: blue;
}

.header_div p{
    font-family: 'roboto',sans-serif;
color:aqua;
letter-spacing : 2px ;
font-size: 12px;
font-weight: bold;
}
.main_div button
{
    font-family:'roboto',sans-serif ;
    margin-top: 30px;
    width:130px;
    font-weight:bolder ;
    letter-spacing : 4px ;
}
.copy_right_footer
{
    position: fixed;
    color: rgb(97, 25, 163);
    bottom:0;
    width:100%;
    font-size: 18px;
    background-color: aquamarine;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(7, 76, 105);
}